DATABASE_URL="mysql://root:123456@localhost:3002/TRYBE_TASK_LIST"
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=123456
MYSQL_PORT=3002
PORT=3001
DB_HOST=localhost
DB_USER=root
DB_PASS=123456
DB_NAME=TRYBE_TASK_LIST
DB_PORT=3306